###### Imports and Settings

In [1]:
import pandas as pd
import numpy as np
import requests
from collections import deque
from functools import reduce
import matplotlib.pyplot as plt
#pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y

# Historical

In [3]:
data = pd.read_csv('../../Data Downloads/HistoricalPopulation.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data = data[['1900','1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010', '2020']]
data.columns = pd.MultiIndex.from_product([['Population'], data.columns, ['None']])
data

                                                                    Population                                                                  \
                                                                          1900      1910      1920       1930       1940       1950       1960
                                                                          None      None      None       None       None       None       None
NAME                                               GEO_ID
Adams city, Tennessee                              1600000US4700200          0       542       672          0          0          0          0
Ashland City town, Tennessee                       1600000US4702180          0       641       649        712        957       1024       1400
Belle Meade city, Tennessee                        1600000US4704620          0         0         0          0       2061       2831       3082
Berry Hill city, Tennessee                         1600000US4705140          0         0         0          0          0       1248       1551
Brentwood city, Tennessee                          1600000US4708280          0         0         0          0          0          0          0
Burns town, Tennessee                              1600000US4709880          0         0         0          0          0          0        386
Cedar Hill city, Tennessee                         1600000US4711980          0         0         0          0          0          0          0
Charlotte town, Tennessee                          1600000US4713080          0       236       200        291        470        478        551
Cheatham County, Tennessee                         0500000US47021        10112     10540     10039       9025       9928       9167       9428
Clarksville city, Tennessee                        1600000US4715160       9431      8548      8110       9242      11831      16246      22021
Columbia city, Tennessee                           1600000US4716540       6052      5754      5526       7882      10579      10911      17624
Coopertown town, Tennessee                         1600000US4716980          0         0         0          0          0          0          0
Cross Plains city, Tennessee                       1600000US4718420          0         0         0          0          0          0          0
Cumberland City town, Tennessee                    1600000US4718820          0         0       400          0          0          0        314
Davidson County, Tennessee                         0500000US47037       122815    149478    167815     222854     257267     321758     399743
Dickson city, Tennessee                            1600000US4720620       1363      1850      2263       2902       3504       3348       5028
Dickson County, Tennessee                          0500000US47043        18635     19955     19342      18491      19718      18805      18839
Dover city, Tennessee                              1600000US4721400          0         0         0          0          0          0        736
Eagleville city, Tennessee                         1600000US4722360          0         0         0          0          0        378        363
Erin city, Tennessee                               1600000US4724320          0       943       855        819        905        858       1097
Fairview city, Tennessee                           1600000US4725440          0         0         0          0          0          0       1017
Forest Hills city, Tennessee                       1600000US4727020          0         0         0          0          0          0       2101
Franklin city, Tennessee                           1600000US4727740       2180      2924      3123       3377       4120       5475       6977
Gallatin city, Tennessee                           1600000US4728540       2409      2399      2757       3050       4829       5107       7901
Goodlettsville city, Tennessee                     1600000US4729920          0         0         0          0          0       1590       3163
Greenbrier town, Tennessee                         1600000US4730960          0       522       518        631        795        890       1238
Hartsville/Trousdale County, Tennessee             NaN                       0         0      1023       1015       1095       1130       1712
Hendersonville city, Tennessee                     1600000US4733280          0         0         0          0          0          0          0
HISTORIC NASHVILLE, Tennessee                      NaN                   80865    110364    118342     153866     167402     174307     170874
Houston County, Tennessee                          0500000US47083         6476      6224      6212       5555       6432       5318       4794
Humphreys County, Tennessee                        0500000US47085        13398     13908     13482      12039      12421      11030      11511
Kingston Springs town, Tennessee                   1600000US4739660          0         0         0          0          0          0          0
La Vergne city, Tennessee                          1600000US4741200          0         0         0          0          0          0          0
Lebanon city, Tennessee                            1600000US4741520       1956      3569      4084       4656       5950       7913      10512
Maury County, Tennessee                            0500000US47119        42703     40456     35403      34016      40357      40368      41699
McEwen city, Tennessee                             1600000US4744840          0       661       635        620        617        710        979
Millersville city, Tennessee                       1600000US4748980          0         0         0          0          0          0          0
Mitchellville city, Tennessee                      1600000US4749460          0         0       161        203        216        202        184
Montgomery County, Tennessee                       0500000US47125        36017     33672     32265      30882      33346      44186      55645
Mount Juliet city, Tennessee                       1600000US4750780          0         0         0          0          0          0          0
Mount Pleasant city, Tennessee                     1600000US4751080       2007      1973      2093       2010       3089       2931       2921
Murfreesboro city, Tennessee                       1600000US4751560       3999      4679      5367       7993       9495      13052      18991
Nashville-Davidson metropolitan government (bal... 1600000US4752006      80865    110364    118342     153866     167402     174307     170874
New Johnsonville city, Tennessee                   1600000US4752820          0         0         0          0          0          0        559
Nolensville town, Tennessee                        1600000US4753460          0         0         0          0          0          0          0
Oak Hill city, Tennessee                           1600000US4754780          0         0         0          0          0          0       4490
Pegram town, Tennessee                             1600000US4757480          0         0         0          0          0          0          0
Pleasant View city, Tennessee                      1600000US4759560          0         0         0          0          0          0          0
Portland city, Tennessee                           1600000US4760280          0       579       869       1030       1212       1660       2424
Ridgetop city, Tennessee                           1600000US4763140          0        48       126        196        351        354        372
Robertson County, Tennessee                        0500000US47147        25029     25466     25621      28191      29046      27024      27335
Rutherford County, Tennessee                       0500000US47149        33543     33199     33059      32286      33604      40696      52368
Slayden town, Tennessee                            1600000US4769080          0         0       158        162        164         90        101
Smyrna town, Tennessee                             1600000US4769420          0         0       463        531        493       1544       3612
Spring Hill city, Tennessee                        1600000US4770580          0       695       403        416        543        541        689
Springfield city, Tennessee                        1600000US4770500       1732      2085      3860       5577       6668       6506       9221
Stewart County, Tennessee                          0500000US47161        15224     14860     14664      13278      13549       9175       7851
Sumner County, Tennessee                           0500000US47165        26072     25621     27708      28622      32719      33533      36217
Tennessee                                          0400000US47         1998749   2164145   2322515    2602343    2901253    3280038    3556315
Tennessee Ridge town, Tennessee                    1600000US4773460          0         0         0          0          0          0        324
Thompson's Station town, Tennessee                 1600000US4773900          0         0         0          0          0          0          0
Trousdale County, Tennessee                        0500000US47169         6004      5874      5996       5629       6113       5520       4914
USA                                                0100000US          70626271  86511995  99981626  116098558  124160146  141517443  167848778
Vanleer town, Tennessee                            1600000US4776860          0         0       180        243        206        243        234
Watertown city, Tennessee                          1600000US4778320          0       517       933        928        908        933        919
Waverly city, Tennessee                            1600000US4778560        786       947      1054       1152       1318       1892       2891
Westmoreland town, Tennessee                       1600000US4779420          0       298       357          0          0          0        865
White Bluff town, Tennessee                        1600000US4779980          0       419       449        464        522        506        486
White House city, Tennessee                        1600000US4780200          0         0         0          0          0          0          0
Williamson County, Tennessee                       0500000US47187        26429     24213     23409      22845      25220      24307      25267
Wilson County, Tennessee                           0500000US47189        27078     25394     26241      23929      25267      26318      27668
MPO                                                NaN                  303669    323827    339256     392743     443480     514004     610297
GNRC Region                                        NaN                  409535    428860    441256     487642     544987     617205     723279
GNRC                                               NaN                  366832    388404    405853     453626     504630     576837     681580
Rutherford Incorporated                            NaN                    3999      4679      5830       8524       9988      14974      22966
Rutherford Unincorporated                          NaN                   29544     28520     27229      23762      23616      25722      29402
Wilson Incorporated                                NaN                    1956      4086      5017       5584       6858       8846      11431
Wilson Unincorporated                              NaN                   25122     21308     21224      18345      18409      17472      16237
Cheatham Incorporated                              NaN                       0       641       649        712        957       1024       1400
Cheatham Unincorporated                            NaN                   10112      9899      9390       8313       8971       8143       8028
Dickson Incorporated                               NaN                    1363      2505      3250       4062       4866       4665       6786
Dickson Unincorporated                             NaN                   17272     17450     16092      14429      14852      14140      12053
Humphreys Incorporated                             NaN                     786      1608      1689       1772       1935       2602       4429
Humphreys Unincorporated                           NaN                   12612     12300     11793      10267      10486       8428       7082
Montgomery Incorporated                            NaN                    9431      8548      8110       9242      11831      16246      22021
Montgomery Unincorporated                          NaN                   26586     25124     24155      21640      21515      27940      33624


                                                                          1970       1980       1990       2000       2010       2020
                                                                          None       None       None       None       None       None
NAME                                               GEO_ID
Adams city, Tennessee                              1600000US4700200        458        600        587        566        633        624
Ashland City town, Tennessee                       1600000US4702180       2027       2329       2552       3641       4541       5193
Belle Meade city, Tennessee                        1600000US4704620          0       3182       2839       2943       2912       2901
Berry Hill city, Tennessee                         1600000US4705140          0       1113        802        674        537       2112
Brentwood city, Tennessee                          1600000US4708280          0       9431      16392      23445      37060      45373
Burns town, Tennessee                              1600000US4709880        257        777       1127       1366       1468       1573
Cedar Hill city, Tennessee                         1600000US4711980        355        420        347        298        314        301
Charlotte town, Tennessee                          1600000US4713080        610        788        854       1153       1235       1656
Cheatham County, Tennessee                         0500000US47021        13199      21616      27140      35912      39105      41072
Clarksville city, Tennessee                        1600000US4715160      31719      54777      75494     103455     132929     166722
Columbia city, Tennessee                           1600000US4716540      21471      26372      28583      33055      34681      41690
Coopertown town, Tennessee                         1600000US4716980          0          0          0       3027       4278       4480
Cross Plains city, Tennessee                       1600000US4718420          0        655       1025       1381       1714       1789
Cumberland City town, Tennessee                    1600000US4718820        416        276        319        316        311        305
Davidson County, Tennessee                         0500000US47037       448003     477811     510784     569891     626681     715884
Dickson city, Tennessee                            1600000US4720620       5665       7040       8791      12244      14538      16058
Dickson County, Tennessee                          0500000US47043        21977      30037      35061      43156      49666      54315
Dover city, Tennessee                              1600000US4721400       1179       1197       1341       1442       1417       1826
Eagleville city, Tennessee                         1600000US4722360        437        444        462        464        604        813
Erin city, Tennessee                               1600000US4724320       1157       1614       1586       1490       1324       1224
Fairview city, Tennessee                           1600000US4725440       1630       3648       4210       5800       7720       9357
Forest Hills city, Tennessee                       1600000US4727020          0       4516       4231       4710       4812       5038
Franklin city, Tennessee                           1600000US4727740       9404      12407      20098      41842      62487      83454
Gallatin city, Tennessee                           1600000US4728540      13093      17191      18794      23230      30278      44431
Goodlettsville city, Tennessee                     1600000US4729920          0       8327      11219      13780      15921      17789
Greenbrier town, Tennessee                         1600000US4730960       2279       3180       2873       4940       6433       6898
Hartsville/Trousdale County, Tennessee             NaN                    2243       2674       2188       2395       7870      11615
Hendersonville city, Tennessee                     1600000US4733280        262      26561      32188      40620      51372      61753
HISTORIC NASHVILLE, Tennessee                      NaN                       0          0          0          0          0          0
Houston County, Tennessee                          0500000US47083         5845       6871       7018       8088       8426       8283
Humphreys County, Tennessee                        0500000US47085        13560      15957      15795      17929      18538      18990
Kingston Springs town, Tennessee                   1600000US4739660        312       1017       1529       2773       2756       2824
La Vergne city, Tennessee                          1600000US4741200          0       5495       7499      18687      32588      38719
Lebanon city, Tennessee                            1600000US4741520      12492      11872      15208      20235      26190      38431
Maury County, Tennessee                            0500000US47119        43376      51095      54812      69498      80956     100974
McEwen city, Tennessee                             1600000US4744840          0       1352       1442       1702       1750       1643
Millersville city, Tennessee                       1600000US4748980          0          0       2575       5308       6440       6299
Mitchellville city, Tennessee                      1600000US4749460        177        209        193        207        189        163
Montgomery County, Tennessee                       0500000US47125        62721      83342     100498     134768     172331     220069
Mount Juliet city, Tennessee                       1600000US4750780          0       2879       5389      12366      23671      39289
Mount Pleasant city, Tennessee                     1600000US4751080       3530       3375       4278       4491       4561       4784
Murfreesboro city, Tennessee                       1600000US4751560      26360      32845      44922      68816     108755     152769
Nashville-Davidson metropolitan government (bal... 1600000US4752006     448003     455651     488374     545524     601222     689447
New Johnsonville city, Tennessee                   1600000US4752820        970       1824       1643       1905       1951       1804
Nolensville town, Tennessee                        1600000US4753460          0          0       1570       3099       5861      13829
Oak Hill city, Tennessee                           1600000US4754780          0       4609       4301       4493       4529       4891
Pegram town, Tennessee                             1600000US4757480          0       1081       1371       2146       2093       2072
Pleasant View city, Tennessee                      1600000US4759560          0          0          0       2934       4149       4807
Portland city, Tennessee                           1600000US4760280       2872       4030       5165       8458      11480      13156
Ridgetop city, Tennessee                           1600000US4763140        810       1225       1132       1083       1874       2155
Robertson County, Tennessee                        0500000US47147        29102      37021      41494      54433      66283      72803

In [4]:
# data[('Population % Change', 'None','1800-1810')] = percentchange(data[('Population','1810','None')], data[('Population','1800','None')])
# data[('Population % Change', 'None','1810-1820')] = percentchange(data[('Population','1820','None')], data[('Population','1810','None')])
# data[('Population % Change', 'None','1820-1830')] = percentchange(data[('Population','1830','None')], data[('Population','1820','None')])
# data[('Population % Change', 'None','1830-1840')] = percentchange(data[('Population','1840','None')], data[('Population','1830','None')])
# data[('Population % Change', 'None','1840-1850')] = percentchange(data[('Population','1850','None')], data[('Population','1840','None')])
# data[('Population % Change', 'None','1850-1860')] = percentchange(data[('Population','1860','None')], data[('Population','1850','None')])
# data[('Population % Change', 'None','1860-1870')] = percentchange(data[('Population','1870','None')], data[('Population','1860','None')])
# data[('Population % Change', 'None','1870-1880')] = percentchange(data[('Population','1880','None')], data[('Population','1870','None')])
# data[('Population % Change', 'None','1880-1890')] = percentchange(data[('Population','1890','None')], data[('Population','1880','None')])
# data[('Population % Change', 'None','1890-1900')] = percentchange(data[('Population','1900','None')], data[('Population','1890','None')])
data[('Population % Change', 'None','1900-1910')] = percentchange(data[('Population','1910','None')], data[('Population','1900','None')])
data[('Population % Change', 'None','1910-1920')] = percentchange(data[('Population','1920','None')], data[('Population','1910','None')])
data[('Population % Change', 'None','1920-1930')] = percentchange(data[('Population','1930','None')], data[('Population','1920','None')])
data[('Population % Change', 'None','1930-1940')] = percentchange(data[('Population','1940','None')], data[('Population','1930','None')])
data[('Population % Change', 'None','1940-1950')] = percentchange(data[('Population','1950','None')], data[('Population','1940','None')])
data[('Population % Change', 'None','1950-1960')] = percentchange(data[('Population','1960','None')], data[('Population','1950','None')])
data[('Population % Change', 'None','1960-1970')] = percentchange(data[('Population','1970','None')], data[('Population','1960','None')])
data[('Population % Change', 'None','1970-1980')] = percentchange(data[('Population','1980','None')], data[('Population','1970','None')])
data[('Population % Change', 'None','1980-1990')] = percentchange(data[('Population','1990','None')], data[('Population','1980','None')])
data[('Population % Change', 'None','1990-2000')] = percentchange(data[('Population','2000','None')], data[('Population','1990','None')])
data[('Population % Change', 'None','2000-2010')] = percentchange(data[('Population','2010','None')], data[('Population','2000','None')])
data[('Population % Change', 'None','2010-2020')] = percentchange(data[('Population','2020','None')], data[('Population','2010','None')])

# data[('Population Change', 'None','1800-1810')] = realchange(data[('Population','1810','None')], data[('Population','1800','None')])
# data[('Population Change', 'None','1810-1820')] = realchange(data[('Population','1820','None')], data[('Population','1810','None')])
# data[('Population Change', 'None','1820-1830')] = realchange(data[('Population','1830','None')], data[('Population','1820','None')])
# data[('Population Change', 'None','1830-1840')] = realchange(data[('Population','1840','None')], data[('Population','1830','None')])
# data[('Population Change', 'None','1840-1850')] = realchange(data[('Population','1850','None')], data[('Population','1840','None')])
# data[('Population Change', 'None','1850-1860')] = realchange(data[('Population','1860','None')], data[('Population','1850','None')])
# data[('Population Change', 'None','1860-1870')] = realchange(data[('Population','1870','None')], data[('Population','1860','None')])
# data[('Population Change', 'None','1870-1880')] = realchange(data[('Population','1880','None')], data[('Population','1870','None')])
# data[('Population Change', 'None','1880-1890')] = realchange(data[('Population','1890','None')], data[('Population','1880','None')])
# data[('Population Change', 'None','1890-1900')] = realchange(data[('Population','1900','None')], data[('Population','1890','None')])
data[('Population Change', 'None','1900-1910')] = realchange(data[('Population','1910','None')], data[('Population','1900','None')])
data[('Population Change', 'None','1910-1920')] = realchange(data[('Population','1920','None')], data[('Population','1910','None')])
data[('Population Change', 'None','1920-1930')] = realchange(data[('Population','1930','None')], data[('Population','1920','None')])
data[('Population Change', 'None','1930-1940')] = realchange(data[('Population','1940','None')], data[('Population','1930','None')])
data[('Population Change', 'None','1940-1950')] = realchange(data[('Population','1950','None')], data[('Population','1940','None')])
data[('Population Change', 'None','1950-1960')] = realchange(data[('Population','1960','None')], data[('Population','1950','None')])
data[('Population Change', 'None','1960-1970')] = realchange(data[('Population','1970','None')], data[('Population','1960','None')])
data[('Population Change', 'None','1970-1980')] = realchange(data[('Population','1980','None')], data[('Population','1970','None')])
data[('Population Change', 'None','1980-1990')] = realchange(data[('Population','1990','None')], data[('Population','1980','None')])
data[('Population Change', 'None','1990-2000')] = realchange(data[('Population','2000','None')], data[('Population','1990','None')])
data[('Population Change', 'None','2000-2010')] = realchange(data[('Population','2010','None')], data[('Population','2000','None')])
data[('Population Change', 'None','2010-2020')] = realchange(data[('Population','2020','None')], data[('Population','2010','None')])

In [5]:
data.head()

                                              Population                                                                           \
                                                    1900 1910 1920 1930  1940  1950  1960  1970  1980   1990   2000   2010   2020
                                                    None None None None  None  None  None  None  None   None   None   None   None
NAME                         GEO_ID
Adams city, Tennessee        1600000US4700200          0  542  672    0     0     0     0   458   600    587    566    633    624
Ashland City town, Tennessee 1600000US4702180          0  641  649  712   957  1024  1400  2027  2329   2552   3641   4541   5193
Belle Meade city, Tennessee  1600000US4704620          0    0    0    0  2061  2831  3082     0  3182   2839   2943   2912   2901
Berry Hill city, Tennessee   1600000US4705140          0    0    0    0     0  1248  1551     0  1113    802    674    537   2112
Brentwood city, Tennessee    1600000US4708280          0    0    0    0     0     0     0     0  9431  16392  23445  37060  45373

                                              Population % Change                                                                                \
                                                             None
                                                        1900-1910 1910-1920   1920-1930  1930-1940  1940-1950  1950-1960   1960-1970  1970-1980
NAME                         GEO_ID
Adams city, Tennessee        1600000US4700200                 inf  23.98524 -100.000000        NaN        NaN        NaN         inf  31.004367
Ashland City town, Tennessee 1600000US4702180                 inf   1.24805    9.707242  34.410112   7.001045  36.718750   44.785714  14.898865
Belle Meade city, Tennessee  1600000US4704620                 NaN       NaN         NaN        inf  37.360505   8.866125 -100.000000        inf
Berry Hill city, Tennessee   1600000US4705140                 NaN       NaN         NaN        NaN        inf  24.278846 -100.000000        inf
Brentwood city, Tennessee    1600000US4708280                 NaN       NaN         NaN        NaN        NaN        NaN         NaN        inf

                                                                                           Population Change                                \
                                                                                                        None
                                               1980-1990  1990-2000  2000-2010   2010-2020         1900-1910 1910-1920 1920-1930 1930-1940
NAME                         GEO_ID
Adams city, Tennessee        1600000US4700200  -2.166667  -3.577513  11.837456   -1.421801               542       130      -672         0
Ashland City town, Tennessee 1600000US4702180   9.574925  42.672414  24.718484   14.358071               641         8        63       245
Belle Meade city, Tennessee  1600000US4704620 -10.779384   3.663262  -1.053347   -0.377747                 0         0         0      2061
Berry Hill city, Tennessee   1600000US4705140 -27.942498 -15.960100 -20.326409  293.296089                 0         0         0         0
Brentwood city, Tennessee    1600000US4708280  73.809776  43.027086  58.072084   22.431193                 0         0         0         0



                                              1940-1950 1950-1960 1960-1970 1970-1980 1980-1990 1990-2000 2000-2010 2010-2020
NAME                         GEO_ID
Adams city, Tennessee        1600000US4700200         0         0       458       142       -13       -21        67        -9
Ashland City town, Tennessee 1600000US4702180        67       376       627       302       223      1089       900       652
Belle Meade city, Tennessee  1600000US4704620       770       251     -3082      3182      -343       104       -31       -11
Berry Hill city, Tennessee   1600000US4705140      1248       303     -1551      1113      -311      -128      -137      1575
Brentwood city, Tennessee    1600000US4708280         0         0         0      9431      6961      7053     13615      8313

In [6]:
# # drop stuff after 1990/1990-2000 growth as it would be the decennial census estimate and it would be redundant/confusing (already in main dataset)
# data = data.drop(columns = [('Population','2000','None'), ('Population','2010','None'), ('Population','2020','None'), 
#                  ('Population Change', 'None','2000-2010'), ('Population Change', 'None','2010-2020')])

In [7]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
historicaltidy = data

In [8]:
#"Table format"
historicalt = pd.read_csv('../../Data Downloads/HistoricalPopulation.csv')
historicalt = historicalt.set_index(['NAME', 'GEO_ID'])
historicalt = historicalt[['1900','1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010', '2020']]
historicalt = historicalt.add_prefix('Population ')

# Projections

In [9]:
#households
data = pd.read_csv('../../Data Downloads/projections_households.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Households Projected'], data.columns, ['None']])
#data.head()

In [10]:
data[('Households Projected % Change', 'None','2017-2020')] = percentchange(data[('Households Projected','2020','None')], data[('Households Projected','2017','None')])
data[('Households Projected % Change', 'None','2020-2025')] = percentchange(data[('Households Projected','2025','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2020-2035')] = percentchange(data[('Households Projected','2035','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2020-2045')] = percentchange(data[('Households Projected','2045','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2025-2035')] = percentchange(data[('Households Projected','2035','None')], data[('Households Projected','2025','None')])
data[('Households Projected % Change', 'None','2035-2045')] = percentchange(data[('Households Projected','2045','None')], data[('Households Projected','2035','None')])

data[('Households Projected Change', 'None','2017-2020')] = realchange(data[('Households Projected','2020','None')], data[('Households Projected','2017','None')])
data[('Households Projected Change', 'None','2020-2025')] = realchange(data[('Households Projected','2025','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2020-2035')] = realchange(data[('Households Projected','2035','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2020-2045')] = realchange(data[('Households Projected','2045','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2025-2035')] = realchange(data[('Households Projected','2035','None')], data[('Households Projected','2025','None')])
data[('Households Projected Change', 'None','2035-2045')] = realchange(data[('Households Projected','2045','None')], data[('Households Projected','2035','None')])

In [11]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
hhstidy = data

In [12]:
#"Table format"
hhst = pd.read_csv('../../Data Downloads/projections_households.csv')
hhst = hhst.set_index(['NAME', 'GEO_ID'])
hhst = hhst.add_prefix('Projected Households ')

In [13]:
#populations
data = pd.read_csv('../../Data Downloads/projections_population.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Population Projected'], data.columns, ['None']])
#data.head()

In [14]:
data[('Population Projected % Change', 'None','2017-2020')] = percentchange(data[('Population Projected','2020','None')], data[('Population Projected','2017','None')])
data[('Population Projected % Change', 'None','2020-2025')] = percentchange(data[('Population Projected','2025','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2020-2035')] = percentchange(data[('Population Projected','2035','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2020-2045')] = percentchange(data[('Population Projected','2045','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2025-2035')] = percentchange(data[('Population Projected','2035','None')], data[('Population Projected','2025','None')])
data[('Population Projected % Change', 'None','2035-2045')] = percentchange(data[('Population Projected','2045','None')], data[('Population Projected','2035','None')])

data[('Population Projected Change', 'None','2017-2020')] = realchange(data[('Population Projected','2020','None')], data[('Population Projected','2017','None')])
data[('Population Projected Change', 'None','2020-2025')] = realchange(data[('Population Projected','2025','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2020-2035')] = realchange(data[('Population Projected','2035','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2020-2045')] = realchange(data[('Population Projected','2045','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2025-2035')] = realchange(data[('Population Projected','2035','None')], data[('Population Projected','2025','None')])
data[('Population Projected Change', 'None','2035-2045')] = realchange(data[('Population Projected','2045','None')], data[('Population Projected','2035','None')])

In [15]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
poptidy = data

In [16]:
#"Table format"
popt = pd.read_csv('../../Data Downloads/projections_population.csv')
popt = popt.set_index(['NAME', 'GEO_ID'])
popt = popt.add_prefix('Projected Population ')

In [17]:
#employment
data = pd.read_csv('../../Data Downloads/projections_employment.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Employment Projected'], data.columns, ['None']])
data.head()

                                             Employment Projected
                                                             2017    2020    2025    2035    2045
                                                             None    None    None    None    None
NAME                        GEO_ID
Cheatham County, Tennessee  0500000US47021                  14999   15598   16641   18551   20304
Davidson County, Tennessee  0500000US47037                 638807  663935  708262  794173  864682
Dickson County, Tennessee   1600000US4720620                25580   26652   28417   31114   33019
Houston County, Tennessee   0500000US47083                   2606    2728    2954    3365    3719
Humphreys County, Tennessee 0500000US47085                   8813    9027    9419   10092   10660

In [18]:
data[('Employment Projected % Change', 'None','2017-2020')] = percentchange(data[('Employment Projected','2020','None')], data[('Employment Projected','2017','None')])
data[('Employment Projected % Change', 'None','2020-2025')] = percentchange(data[('Employment Projected','2025','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2020-2035')] = percentchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2020-2045')] = percentchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2025-2035')] = percentchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2025','None')])
data[('Employment Projected % Change', 'None','2035-2045')] = percentchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2035','None')])

data[('Employment Projected Change', 'None','2017-2020')] = realchange(data[('Employment Projected','2020','None')], data[('Employment Projected','2017','None')])
data[('Employment Projected Change', 'None','2020-2025')] = realchange(data[('Employment Projected','2025','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2020-2035')] = realchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2020-2045')] = realchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2025-2035')] = realchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2025','None')])
data[('Employment Projected Change', 'None','2035-2045')] = realchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2035','None')])

In [19]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
emptidy = data

In [20]:
#"Table format"
empt = pd.read_csv('../../Data Downloads/projections_employment.csv')
empt = empt.set_index(['NAME', 'GEO_ID'])
empt = empt.add_prefix('Projected Employment ')
empt.head()

,,Projected Employment 2017,Projected Employment 2020,Projected Employment 2025,Projected Employment 2035,Projected Employment 2045
NAME,GEO_ID,,,,,
"Cheatham County, Tennessee",0500000US47021,14999,15598,16641,18551,20304
"Davidson County, Tennessee",0500000US47037,638807,663935,708262,794173,864682
"Dickson County, Tennessee",1600000US4720620,25580,26652,28417,31114,33019
"Houston County, Tennessee",0500000US47083,2606,2728,2954,3365,3719
"Humphreys County, Tennessee",0500000US47085,8813,9027,9419,10092,10660

# Join all

In [21]:
dfs = [historicaltidy, poptidy, emptidy, hhstidy]

In [22]:
datatidy = reduce(lambda  left,right: pd.merge(left,right,on=['NAME', 'GEO_ID', 'Year', 'Time Frame'],
                                           how='outer'), dfs)

In [23]:
datatidy = datatidy.set_index('NAME').transpose()

In [24]:
datatidy = datatidy.rename(columns = {'Adams city, Tennessee': 'Adams',
 'Ashland City town, Tennessee': 'Ashland City',
 'Belle Meade city, Tennessee': 'Belle Meade',
 'Berry Hill city, Tennessee': 'Berry Hill',
 'Brentwood city, Tennessee': 'Brentwood',
 'Burns town, Tennessee': 'Burns',
 'Cedar Hill city, Tennessee': 'Cedar Hill',
 'Charlotte town, Tennessee': 'Charlotte',
 'Cheatham County, Tennessee': 'Cheatham County',
 'Clarksville city, Tennessee': 'Clarksville',
 'Columbia city, Tennessee': 'Columbia',
 'Coopertown town, Tennessee': 'Coopertown',
 'Cross Plains city, Tennessee': 'Cross Plains',
 'Cumberland City town, Tennessee': 'Cumberland City',
 'Davidson County, Tennessee': 'Davidson County',
 'Dickson city, Tennessee': 'Dickson',
 'Dickson County, Tennessee': 'Dickson County',
 'Dover city, Tennessee': 'Dover',
 'Eagleville city, Tennessee': 'Eagleville',
 'Erin city, Tennessee': 'Erin',
 'Fairview city, Tennessee': 'Fairview',
 'Forest Hills city, Tennessee': 'Forest Hills',
 'Franklin city, Tennessee': 'Franklin',
 'Gallatin city, Tennessee': 'Gallatin',
 'Goodlettsville city, Tennessee': 'Goodlettsville',
 'Greenbrier town, Tennessee': 'Greenbrier',
 'Hartsville/Trousdale County, Tennessee': 'Hartsville/Trousdale',
 'Hendersonville city, Tennessee': 'Hendersonville',
 'Houston County, Tennessee': 'Houston County',
 'Humphreys County, Tennessee': 'Humphreys County',
 'Kingston Springs town, Tennessee': 'Kingston Springs',
 'La Vergne city, Tennessee': 'La Vergne',
 'Lebanon city, Tennessee': 'Lebanon',
 'Maury County, Tennessee': 'Maury County',
 'McEwen city, Tennessee': 'McEwen',
 'Millersville city, Tennessee': 'Millersville',
 'Mitchellville city, Tennessee': 'Mitchellville',
 'Montgomery County, Tennessee': 'Montgomery County',
 'Mount Juliet city, Tennessee': 'Mount Juliet',
 'Mount Pleasant city, Tennessee': 'Mount Pleasant',
 'Murfreesboro city, Tennessee': 'Murfreesboro',
 'Nashville-Davidson metropolitan government (balance), Tennessee': 'Nashville',
 'New Johnsonville city, Tennessee': 'New Johnsonville',
 'Nolensville town, Tennessee': 'Nolensville',
 'Oak Hill city, Tennessee': 'Oak Hill',
 'Pegram town, Tennessee': 'Pegram',
 'Pleasant View city, Tennessee': 'Pleasant View',
 'Portland city, Tennessee': 'Portland',
 'Ridgetop city, Tennessee': 'Ridgetop',
 'Robertson County, Tennessee': 'Robertson County',
 'Rutherford County, Tennessee': 'Rutherford County',
 'Slayden town, Tennessee': 'Slayden',
 'Smyrna town, Tennessee': 'Smyrna',
 'Spring Hill city, Tennessee': 'Spring Hill',
 'Springfield city, Tennessee': 'Springfield',
 'Stewart County, Tennessee': 'Stewart County',
 'Sumner County, Tennessee': 'Sumner County',
 'Tennessee Ridge town, Tennessee': 'Tennessee Ridge',
 "Thompson's Station town, Tennessee": "Thompson's Station",
 'Trousdale County, Tennessee': 'Trousdale County',
 'Vanleer town, Tennessee': 'Vanleer',
 'Watertown city, Tennessee': 'Watertown',
 'Waverly city, Tennessee': 'Waverly',
 'Westmoreland town, Tennessee': 'Westmoreland',
 'White Bluff town, Tennessee': 'White Bluff',
 'White House city, Tennessee': 'White House',
 'Williamson County, Tennessee': 'Williamson County',
 'Wilson County, Tennessee': 'Wilson County'})

In [25]:
datatidy = datatidy.transpose()
datatidy = datatidy.reset_index()
datatidy.head()

,NAME,GEO_ID,Year,Time Frame,Population,Population % Change,Population Change,Population Projected,Population Projected % Change,Population Projected Change,Employment Projected,Employment Projected % Change,Employment Projected Change,Households Projected,Households Projected % Change,Households Projected Change
0,Adams,1600000US4700200,1900,None,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adams,1600000US4700200,1910,None,542.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adams,1600000US4700200,1920,None,672.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adams,1600000US4700200,1930,None,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adams,1600000US4700200,1940,None,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
datatidy.to_csv('../../Outputs/HIST_PROJECT_PopulationTIDY.csv', index = False)

In [30]:
dfs = [historicalt, popt, empt, hhst]
datat = reduce(lambda  left,right: pd.merge(left,right, on = ['NAME', 'GEO_ID'],
                                            how='outer'), dfs)

In [31]:
datat = datat.reset_index()

In [32]:
datat = datat.set_index('NAME').transpose()

In [33]:
datat = datat.rename(columns = {'Adams city, Tennessee': 'Adams',
 'Ashland City town, Tennessee': 'Ashland City',
 'Belle Meade city, Tennessee': 'Belle Meade',
 'Berry Hill city, Tennessee': 'Berry Hill',
 'Brentwood city, Tennessee': 'Brentwood',
 'Burns town, Tennessee': 'Burns',
 'Cedar Hill city, Tennessee': 'Cedar Hill',
 'Charlotte town, Tennessee': 'Charlotte',
 'Cheatham County, Tennessee': 'Cheatham County',
 'Clarksville city, Tennessee': 'Clarksville',
 'Columbia city, Tennessee': 'Columbia',
 'Coopertown town, Tennessee': 'Coopertown',
 'Cross Plains city, Tennessee': 'Cross Plains',
 'Cumberland City town, Tennessee': 'Cumberland City',
 'Davidson County, Tennessee': 'Davidson County',
 'Dickson city, Tennessee': 'Dickson',
 'Dickson County, Tennessee': 'Dickson County',
 'Dover city, Tennessee': 'Dover',
 'Eagleville city, Tennessee': 'Eagleville',
 'Erin city, Tennessee': 'Erin',
 'Fairview city, Tennessee': 'Fairview',
 'Forest Hills city, Tennessee': 'Forest Hills',
 'Franklin city, Tennessee': 'Franklin',
 'Gallatin city, Tennessee': 'Gallatin',
 'Goodlettsville city, Tennessee': 'Goodlettsville',
 'Greenbrier town, Tennessee': 'Greenbrier',
 'Hartsville/Trousdale County, Tennessee': 'Hartsville/Trousdale',
 'Hendersonville city, Tennessee': 'Hendersonville',
 'Houston County, Tennessee': 'Houston County',
 'Humphreys County, Tennessee': 'Humphreys County',
 'Kingston Springs town, Tennessee': 'Kingston Springs',
 'La Vergne city, Tennessee': 'La Vergne',
 'Lebanon city, Tennessee': 'Lebanon',
 'Maury County, Tennessee': 'Maury County',
 'McEwen city, Tennessee': 'McEwen',
 'Millersville city, Tennessee': 'Millersville',
 'Mitchellville city, Tennessee': 'Mitchellville',
 'Montgomery County, Tennessee': 'Montgomery County',
 'Mount Juliet city, Tennessee': 'Mount Juliet',
 'Mount Pleasant city, Tennessee': 'Mount Pleasant',
 'Murfreesboro city, Tennessee': 'Murfreesboro',
 'Nashville-Davidson metropolitan government (balance), Tennessee': 'Nashville',
 'New Johnsonville city, Tennessee': 'New Johnsonville',
 'Nolensville town, Tennessee': 'Nolensville',
 'Oak Hill city, Tennessee': 'Oak Hill',
 'Pegram town, Tennessee': 'Pegram',
 'Pleasant View city, Tennessee': 'Pleasant View',
 'Portland city, Tennessee': 'Portland',
 'Ridgetop city, Tennessee': 'Ridgetop',
 'Robertson County, Tennessee': 'Robertson County',
 'Rutherford County, Tennessee': 'Rutherford County',
 'Slayden town, Tennessee': 'Slayden',
 'Smyrna town, Tennessee': 'Smyrna',
 'Spring Hill city, Tennessee': 'Spring Hill',
 'Springfield city, Tennessee': 'Springfield',
 'Stewart County, Tennessee': 'Stewart County',
 'Sumner County, Tennessee': 'Sumner County',
 'Tennessee Ridge town, Tennessee': 'Tennessee Ridge',
 "Thompson's Station town, Tennessee": "Thompson's Station",
 'Trousdale County, Tennessee': 'Trousdale County',
 'Vanleer town, Tennessee': 'Vanleer',
 'Watertown city, Tennessee': 'Watertown',
 'Waverly city, Tennessee': 'Waverly',
 'Westmoreland town, Tennessee': 'Westmoreland',
 'White Bluff town, Tennessee': 'White Bluff',
 'White House city, Tennessee': 'White House',
 'Williamson County, Tennessee': 'Williamson County',
 'Wilson County, Tennessee': 'Wilson County'})

In [34]:
datat = datat.transpose()
datat = datat.reset_index()
datat.head()

,NAME,GEO_ID,Population 1900,Population 1910,Population 1920,Population 1930,Population 1940,Population 1950,Population 1960,Population 1970,Population 1980,Population 1990,Population 2000,Population 2010,Population 2020,Projected Population 2017,Projected Population 2020,Projected Population 2025,Projected Population 2035,Projected Population 2045,Projected Employment 2017,Projected Employment 2020,Projected Employment 2025,Projected Employment 2035,Projected Employment 2045,Projected Households 2017,Projected Households 2020,Projected Households 2025,Projected Households 2035,Projected Households 2045
0,Adams,1600000US4700200,0.0,542.0,672.0,0.0,0.0,0.0,0.0,458.0,600.0,587.0,566.0,633.0,624.0,728.0,756.0,801.0,876.0,995.0,243.0,268.0,313.0,428.0,589.0,228.0,237.0,249.0,274.0,309.0
1,Ashland City,1600000US4702180,0.0,641.0,649.0,712.0,957.0,1024.0,1400.0,2027.0,2329.0,2552.0,3641.0,4541.0,5193.0,4701.0,5356.0,6315.0,7850.0,9431.0,7858.0,8044.0,8395.0,9019.0,9538.0,2070.0,2346.0,2737.0,3428.0,4101.0
2,Belle Meade,1600000US4704620,0.0,0.0,0.0,0.0,2061.0,2831.0,3082.0,0.0,3182.0,2839.0,2943.0,2912.0,2901.0,2615.0,2695.0,2790.0,2875.0,2959.0,1842.0,1867.0,1924.0,2006.0,2102.0,1021.0,1049.0,1081.0,1114.0,1146.0
3,Berry Hill,1600000US4705140,0.0,0.0,0.0,0.0,0.0,1248.0,1551.0,0.0,1113.0,802.0,674.0,537.0,2112.0,886.0,1035.0,1280.0,1702.0,2242.0,8220.0,8929.0,10255.0,12487.0,14661.0,536.0,612.0,726.0,913.0,1171.0
4,Brentwood,1600000US4708280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9431.0,16392.0,23445.0,37060.0,45373.0,39849.0,41428.0,43876.0,48343.0,52655.0,70273.0,73113.0,78736.0,90116.0,101904.0,13277.0,13804.0,14596.0,16051.0,17507.0

In [35]:
datat.to_csv('../../Outputs/HIST_PROJECT_PopulationSUFFIX.csv', index = False)